<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzq.cloud.platform.mapper.sys.SysRoleMapper">

    <!-- 角色 全字段SQL -->
    <sql id="SysRoleSql">
        role_id,
        role,
        role_name,
        role_desc,
        sort,
        state
    </sql>

    <!-- 角色 别名全字段SQL -->
    <sql id="SysRoleAliasSql">
        sr.role_id,
        sr.role,
        sr.role_name,
        sr.role_desc,
        sr.sort,
        sr.state
    </sql>

    <!-- 角色 全属性结果集 -->
    <resultMap type="com.zzq.cloud.platform.domain.sys.SysRole" id="SysRoleMap">
        <result property="roleId" column="role_id"/>
        <result property="role" column="role"/>
        <result property="roleName" column="role_name"/>
        <result property="roleDesc" column="role_desc"/>
        <result property="sort" column="sort"/>
        <result property="state" column="state"/>
    </resultMap>

    <!-- 角色 全属性结果集Vo -->
    <resultMap type="com.zzq.cloud.platform.model.vo.sys.SysRoleVo" id="SysRoleVoMap">
        <result property="roleId" column="role_id"/>
        <result property="role" column="role"/>
        <result property="roleName" column="role_name"/>
        <result property="roleDesc" column="role_desc"/>
        <result property="sort" column="sort"/>
        <result property="state" column="state"/>
        <association property="accountCount" column="{roleId = role_id}" select="findCount"/>
    </resultMap>

    <!-- 角色 全属性结果集DetailVo -->
    <resultMap type="com.zzq.cloud.platform.model.vo.sys.SysRoleVo" id="SysRoleDetailVoMap">
        <result property="roleId" column="role_id"/>
        <result property="role" column="role"/>
        <result property="roleName" column="role_name"/>
        <result property="roleDesc" column="role_desc"/>
        <result property="sort" column="sort"/>
        <result property="state" column="state"/>
    </resultMap>

    <select id="findByParams" resultMap="SysRoleVoMap">
        select distinct(r.role_id), r.role, r.role_name, r.role_desc, r.state, r.create_time
        from sys_role r
        <if test="p.permission != null and p.permission != ''">
            left join sys_role_permission rp on rp.role_id = r.role_id
            left join sys_permission p on p.per_id = rp.per_id
        </if>
        where r.is_delete = 0
        <if test="p.clientId != null and p.clientId != ''">
            and r.client_id = #{p.clientId}
        </if>
        <if test="p.state != null and p.state != -1">
            and r.state = #{p.state}
        </if>
        <if test="p.role != null and p.role != ''">
            and r.role like concat(#{p.role}, '%')
        </if>
        <if test="p.permission != null and p.permission != ''">
            and p.perm like concat('%', #{p.permission}, '%')
        </if>
        order by r.create_time asc
    </select>

    <select id="findAll" resultType="string">
        select role from sys_role where state = 1 and is_delete = 0
    </select>

    <select id="findCount" resultType="int">
        select count(u.user_id) from sys_user u
             left join sys_user_role ur on ur.user_id = u.user_id
             left join sys_role r on r.role_id = ur.role_id
        where r.role_id = #{roleId}
    </select>

    <select id="allRole" resultMap="SysRoleVoMap">
        select role_id, role
        from sys_role
        where is_delete = 0 and state = 1
    </select>
</mapper>