<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzq.cloud.platform.mapper.auth.OAuthClientDetailMapper">

    <sql id="OauthClientDetailsSql">
        client_id,
        resource_ids,
        client_secret,
        scope,
        authorized_grant_types,
        web_server_redirect_uri,
        authorities,
        access_token_validity,
        refresh_token_validity,
        additional_information,
        autoapprove
    </sql>

    <!-- 应用 别名全字段SQL -->
    <sql id="OauthClientDetailsAliasSql">
        ocd.client_id,
        ocd.resource_ids,
        ocd.client_secret,
        ocd.scope,
        ocd.authorized_grant_types,
        ocd.web_server_redirect_uri,
        ocd.authorities,
        ocd.access_token_validity,
        ocd.refresh_token_validity,
        ocd.additional_information,
        ocd.autoapprove
    </sql>

    <!-- 应用 全属性结果集 -->
    <resultMap type="com.zzq.cloud.platform.domain.auth.OAuthClientDetail" id="OAuthClientDetailsMap">
        <result property="clientId" column="client_id"/>
        <result property="resourceIds" column="resource_ids"/>
        <result property="clientSecret" column="client_secret"/>
        <result property="scope" column="scope"/>
        <result property="authorizedGrantTypes" column="authorized_grant_types"/>
        <result property="webServerRedirectUri" column="web_server_redirect_uri"/>
        <result property="authorities" column="authorities"/>
        <result property="accessTokenValidity" column="access_token_validity"/>
        <result property="refreshTokenValidity" column="refresh_token_validity"/>
        <result property="additionalInformation" column="additional_information"/>
        <result property="autoapprove" column="autoapprove"/>
    </resultMap>

    <resultMap type="com.zzq.cloud.platform.model.vo.auth.OAuthClientDetailVo" id="OAuthClientVoMap">
        <result property="clientId" column="client_id"/>
        <result property="resourceIds" column="resource_ids"/>
        <result property="authorizedGrantTypes" column="authorized_grant_types"/>
        <result property="webServerRedirectUri" column="web_server_redirect_uri"/>
        <result property="authorities" column="authorities"/>
        <result property="accessTokenValidity" column="access_token_validity"/>
        <result property="refreshTokenValidity" column="refresh_token_validity"/>
        <result property="additionalInformation" column="additional_information"/>
        <result property="autoapprove" column="autoapprove"/>
    </resultMap>

    <resultMap type="com.zzq.cloud.platform.model.vo.auth.OAuthClientDetailVo" id="OAuthClientDetailVoMap">
        <result property="clientId" column="client_id"/>
        <result property="resourceIds" column="resource_ids"/>
        <result property="authorizedGrantTypes" column="authorized_grant_types"/>
        <result property="webServerRedirectUri" column="web_server_redirect_uri"/>
        <result property="authorities" column="authorities"/>
        <result property="accessTokenValidity" column="access_token_validity"/>
        <result property="refreshTokenValidity" column="refresh_token_validity"/>
        <result property="additionalInformation" column="additional_information"/>
        <result property="autoapprove" column="autoapprove"/>
    </resultMap>

    <select id="findMyApplication" resultMap="OAuthClientDetailVoMap">
        select distinct(ocd.client_id),
               ocd.client_name,
               ocd.group_id,
               ocd.resource_ids,
               ocd.authorized_grant_types,
               ocd.web_server_redirect_uri,
               ocd.authorities,
               ocd.access_token_validity,
               ocd.refresh_token_validity,
               ocd.additional_information,
               ocd.autoapprove,
               ocd.is_publish
        from oauth_client_details ocd
        <if test="userId != null">
            left join sys_user_application sua on sua.client_id = ocd.client_id
        </if>
        where ocd.is_delete = 0
        <if test="clientId != null">
            and ocd.client_id = #{clientId}
        </if>
        <if test="userId != null">
            and sua.userId = #{userId} and sua.is_delete = 0
        </if>
    </select>

    <select id="findByParams" resultMap="OAuthClientDetailVoMap">
        select distinct(ocd.client_id),
               ocd.group_id,
               ocd.client_name,
               ocd.authorized_grant_types,
               ocd.web_server_redirect_uri,
               ocd.icon,
               ocd.is_publish,
               sag.group_name
        from oauth_client_details ocd
        left join sys_user_application sua on sua.client_id = ocd.client_id
        left join sys_app_group sag on sag.id = ocd.group_id
        where ocd.is_delete = 0
        <if test="p.userId != null and p.userId != 0">
            and sua.user_id = #{p.userId}
        </if>
        <if test="p.clientName != null and p.clientName !=''">
            and (ocd.client_name like concat('%', #{p.clientName}, '%') or sag.group_name like concat('%', #{p.clientName}, '%'))
        </if>
        <if test="p.isPublish != null and p.isPublish != -1">
            and ocd.is_publish = #{p.isPublish}
        </if>
    </select>

    <select id="findPage" resultMap="OAuthClientVoMap">
        select distinct(ocd.client_id), ocd.original_secret, ocd.group_id, ocd.client_name, ocd.authorized_grant_types,
            ocd.web_server_redirect_uri, ocd.icon, ocd.is_publish, ocd.create_time, ocd.access_token_validity,
            ocd.refresh_token_validity, ocd.is_publish, sag.group_name
        from oauth_client_details ocd
        left join sys_user_application sua on sua.client_id = ocd.client_id
        left join sys_app_group sag on sag.id = ocd.group_id
        where ocd.is_delete = 0
        <if test="p.userId != null">
            and sua.user_id = #{p.userId}
        </if>
        <if test="p.clientName != null and p.clientName !=''">
            and (ocd.client_name like concat('%', #{p.clientName}, '%') or sag.group_name like concat('%', #{p.clientName}, '%'))
        </if>
        <if test="p.isPublish != null and p.isPublish != -1">
            and ocd.is_publish = #{p.isPublish}
        </if>
        order by ocd.create_time asc
    </select>

    <select id="findByGroupId" resultMap="OAuthClientDetailVoMap">
        select ocd.client_id, ocd.client_name
        from oauth_client_details ocd
        where ocd.is_delete = 0 and group_id = #{groupId}
    </select>

    <update id="removeByGroupId">
        update oauth_client_details set is_delete = 1
        where group_id = #{groupId}
    </update>
</mapper>